.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: fixed;
  top: 0;
  z-index: 20;
}

.light-mode {
  background: linear-gradient(135deg, #f8fafc, #e0f2fe);
  color: #1e293b;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #f8fafc;
  transition: all 0.5s ease-in-out;
}


.navbar h1{
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(to right , rgb(69, 69, 176), rgb(216, 110, 110) );
  background-clip: text;
  color: transparent;
}

.active{
  color: aqua;
  border-bottom: 2px solid black;
}

.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar li:hover{
  color: aqua;
  border-bottom: 2px solid black;
}


.ham{
  width: 40px;
  height: 2px;
  background-color: green;

}


.mobile {
  position: absolute;
  top: 60px;
  right: 0;
  width: 20%;
  height: 50vh;
  background-color: aliceblue;
  color: black;
  display: none; /* Initially hidden */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;

}

.hamburger {
  display: none;
}

/* Show Mobile Menu */
.mobile.activemobile {
  display: flex; /* Make visible */
  transform: translateX(0%);
}

/* Responsive */
@media (max-width: 750px) {
  .navbar ul {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
  }
}
 





 


 



